body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image:linear-gradient(rgba(35, 90, 33, 0.6), rgb(243, 242, 155, 0.5)), url(./images/appareilphotocarte.jpg);
    background-attachment: fixed;
	background-size: cover;
	box-sizing: content-box;
	width: 100%;
    /* font-family: 'Quicksand', sans-serif; */
}


.btn{
    background-color: rgb(0, 173, 0);
}

a {
    text-decoration: none;
    color: white;
}

#formulaire {
    background-color:rgba(29, 151, 24, 0.8);
    background-image:linear-gradient(rgba(35, 90, 33, 0.6), rgb(243, 242, 155, 0.5)),
}

/* #navbar{
    background-color: aliceblue;
} */

header {
	padding-top: 10px;
	width: 100%;
	margin: auto;
  }

header ul {
	display: flex;
	flex-direction: row;
	list-style: none; 
  }
  
header ul li {
	margin: 5px;
	width: auto;
  }

header a {
	text-decoration: none;
	color: rgb(243, 242, 155);
	justify-content: center;
  }

  .form_searchbar {
	width: 70%;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
  }

  #search {
	width: 1000px;
	/* display: block; */
	background: linear-gradient(rgba(40, 122, 37, 0.6), rgba(22, 61, 20, 0.6));
	height: 50px;
	border-radius: 10px;
	border: 2px solid rgb(243, 242, 155);
	font-size: 15px;
	padding-left: 30px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	text-decoration-color: rgb(243, 242, 155);
	position: relative;
  }

  .form_searchbar figure {
	position: relative;
	right: 30px;
	top: 17px;

  }

 .nav1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }

  .nav0 {
	display: flex;
	justify-content: space-between;
	color: rgba(22, 61, 20, 0.6);
	padding: 20px;	
  }

  .login {
	align-self: right;
  }

  .fa-heart {
	color: red;
  }

  .fa-bucket {
	color: black;
  }
  
  .categories {
	padding: 0;
	width: 90%;
	display: flex;
	justify-content: space-between;
  } 

  .categories li {
	background: linear-gradient(rgba(40, 122, 37, 0.6), rgba(22, 61, 20, 0.6));
	  border: 2px solid rgb(243, 242, 155);
	  border-radius: 10px;
	  padding-left:20px;
	  padding-right: 20px;
	  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	  width: 15%;
	  text-align: center;
   }
  
   .buying>li>a {
	font-size:  1.5em ;
   }
  
   .buying {
width: 10%;
   }

   #christmas {
   background-color: red;
   color: white;
   }

   /* #christmas:hover {
	background-color: red;
	color: white;
	} */
   
   .link:hover, .link:hover>a, #christmas:hover {
	  /* border-bottom: 1px solid; */
	  background: #bae498;
	  background-size:100%;
	  color: rgba(22, 61, 20, 0.6);
	  cursor: pointer;
	  text-decoration: none;
	}

.bordurevertclair {
    border: 2px solid rgba(170, 241, 179);
    border-radius: 10px;
}
 
.bordurevertfonce {
    border: 2px solid rgba(20, 66, 18);
    border-radius: 10px;
}
 
.bordurejaune {
    border: 2px solid rgb(243, 242, 155);
    border-radius: 10px;
	
}
 
.backgroundvert {
    background: linear-gradient(rgba(40, 122, 37, 0.6), rgba(22, 61, 20, 0.6));
    border-radius: 10px;
}
 
.backgroundvert2 {
    background: linear-gradient(rgba(22, 61, 20, 0.6), rgba(40, 122, 37, 0.6));
    border-radius: 10px;
}
 
.bordureinvis {
    border-radius: 6px;
}